<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <title>Property Cloud Admin</title>
    
	<!-- Bootstrap -->
	<link href="library/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Property CSS -->
    <link href="library/bootstrap/css/property.css" rel="stylesheet">

</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
            <div class="container">
             	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                	<span class="icon-bar"></span>
                	<span class="icon-bar"></span>
                	<span class="icon-bar"></span>
             	</a>
          
          		<div class="logo">
                	<a href="http://www.redfinchmedia.com/"><img src="http://www.redfinchmedia.com/uploads/logo.png" width="297" height="160"></a>
                </div>
          
          		<div class="nav-collapse collapse">
            		<ul class="nav">
              			<li class="<?php echo $activeHome ?>"><a href="admin.php">Home</a></li>
              			<li class="<?php echo $activeInsert ?>"><a href="insert.php">Insert</a></li>
             			<li class=""><a href="logout.php">Logout</a></li> 
            		</ul>
				</div><!--/.nav-collapse -->
			</div> <!-- / container -->
		</div>	<!-- / navbar-inner -->
	</div> <!-- / navbar -->