<!DOCTYPE html>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Property</title>

	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>  
	<script type="text/javascript" src="js/property.js"></script>  
  
	<!-- Bootstrap -->
	<link href="library/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Property CSS -->
    <link href="library/bootstrap/css/property.css" rel="stylesheet">
    <!-- Fav Icon -->
    <link type="image/x-icon" href="http://www.redfinchmedia.com/uploads/favicon.ico" rel="icon" />
    <link type="image/x-icon" href="http://www.redfinchmedia.com/uploads/favicon.ico" rel="shortcut icon" />
    
    <!-- FACEBOOK OPEN GRAPH -->
    <meta property="og:title" content="Property Pierce!"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://www.redfinchmedia.com/uploads/thumbnail.jpg"/>
    <meta property="og:url" content="http://www.redfinchmedia.com"/>
    <meta property="og:site_name" content="Property"/>
    <meta property="og:description" content="Real Property Real Prices"/>
    <meta property="fb:admins" content="383982501693360"/>


    
<style>  
	/* Simple styling for the div that will hold our content */  
	  
</style>  

</head>

<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=383982501693360";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	<div class="navbar navbar-inverse navbar-fixed-top">
    
    	<div class="navbar-inner">
        	<div class="container">
            	<div class="twitterTop">
               
    <a href="https://twitter.com/PropertyPierce" class="twitter-follow-button" data-show-count="false">Follow @PropertyPierce</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<div class="fbTop">
<div class="fb-like" data-href="http://www.redfinchmedia.com" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
  </div>              
          		
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
          		</a>
                
                <div class="logo">
                    <a href="http://www.redfinchmedia.com/"><img src="http://www.redfinchmedia.com/uploads/logo.png" width="297" height="160"></a>
                </div>
                
                <div class="nav-collapse collapse">
                    <ul class="nav">
                    	<li class="<?php if ($thisPage=="home") echo active ?>"><a href="index.php">Home</a></li>
                        <li class="<?php if ($thisPage=="about") echo active ?>"><a href="about.php">About</a></li> 
                        <li class="<?php if ($thisPage=="login") echo active ?>"><a href="login.php">Login</a></li> 
                    </ul>
                </div><!--/.nav-collapse -->
                
                
            
        	</div> <!-- / container -->
    	</div>	<!-- / navbar-inner-->
	</div> <!-- / navbar -->
    